{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="bi bi-key"></i> Смена пароля</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}