{% extends 'base.html' %}

{% block title %}О компании{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">О сервисе</h1>
        
        <div class="card">
            <div class="card-body">
                <h4>Наша миссия</h4>
                <p>Создание современной образовательной среды, где каждый участник учебного процесса может эффективно взаимодействовать, получать актуальную информацию и достигать высоких результатов.</p>
                
                <h4 class="mt-4">Что мы предлагаем</h4>
                <ul>
                    <li>Автоматизацию учёта успеваемости</li>
                    <li>Прозрачную систему оценок и рейтингов</li>
                    <li>Удобное расписание и контроль посещаемости</li>
                    <li>Быструю коммуникацию между студентами и преподавателями</li>
                    <li>Детальную аналитику и отчёты</li>
                </ul>
                
                <h4 class="mt-4">Наши преимущества</h4>
                <ul>
                    <li>Современные технологии</li>
                    <li>Безопасность данных</li>
                    <li>Круглосуточная поддержка</li>
                    <li>Постоянное развитие и обновления</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}